<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<!-- 售后政策(s_after_sales_policy)Mapper -->
<mapper namespace="aftersalespolicyMapper">
    <!--mybatis ehcache缓存配置 -->
    <!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 不使用缓存加入useCache="false" -->
    <!-- <cache type="org.mybatis.caches.ehcache.LoggingEhcache" /> -->
    <!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>  -->

	<sql id="Base_Column_List">
    	id,title ,descript ,sid ,state ,lasttime ,updatename ,remark 
    </sql>

    <resultMap type="com.shifeng.entity.shop.AfterSalesPolicy" id="AfterSalesPolicyReturnMap">
	  <!-- 编号 -->
      <id column="id" property="id"/>
	  <!-- 售后标题 -->
      <result column="title" property="title"/>
	  <!-- 描述 -->
      <result column="descript" property="descript"/>
	  <!-- 商家编号 -->
      <result column="sid" property="sid"/>
	  <!-- 状态 -->
      <result column="state" property="state"/>
	  <!-- 最后修改时间 -->
      <result column="lasttime" property="lasttime"/>
	  <!-- 最后修改人 -->
      <result column="updatename" property="updatename"/>
	  <!-- 备注 -->
      <result column="remark" property="remark"/>
   </resultMap>
   
   	<!-- 查询所有表 -->
	<select id="findAllAfterSalesPolicyPage" parameterType="Page" resultMap="AfterSalesPolicyReturnMap">
		select
			<include refid="Base_Column_List"></include>
		from 
			s_after_sales_policy
		where 1=1
			<if test="t.title!=null and t.title!=''">
				and title = #{t.title}
			</if>
			<if test="t.descript!=null and t.descript!=''">
				and descript = #{t.descript}
			</if>
			<if test="t.sid!=null and t.sid!=''">
				and sid = #{t.sid}
			</if>
			<if test="t.state!=null and t.state!=''">
				and state = #{t.state}
			</if>
			<if test="t.lasttime!=null and t.lasttime!=''">
				and lasttime = #{t.lasttime}
			</if>
			<if test="t.updatename!=null and t.updatename!=''">
				and updatename = #{t.updatename}
			</if>
			<if test="t.remark!=null and t.remark!=''">
				and remark = #{t.remark}
			</if>
	</select>

	<!-- 根据ID查询表 -->
	<select id="findAfterSalesPolicyById" parameterType="String" resultMap="AfterSalesPolicyReturnMap">
		select
			<include refid="Base_Column_List"></include>
		from 
			s_after_sales_policy
		where 
			id = #{id}
	</select>

	<!-- 修改表 -->
	<update id="updateAfterSalesPolicy" parameterType="com.shifeng.entity.shop.AfterSalesPolicy">
		update 
			s_after_sales_policy 
		set
	      	title = #{title},
	      	descript = #{descript},
	      	sid = #{sid},
	      	state = #{state},
	      	lasttime = #{lasttime},
	      	updatename = #{updatename},
	      	remark = #{remark}
		 where
			id = #{id}
	</update>

	<!-- 新增表 -->
	<insert id="saveAfterSalesPolicy" parameterType="com.shifeng.entity.shop.AfterSalesPolicy">
		insert into s_after_sales_policy
			(
		      title, descript, sid, state, lasttime, updatename, remark 
			)
		values
			(
		      #{title},
		      #{descript},
		      #{sid},
		      #{state},
		      #{lasttime},
		      #{updatename},
		      #{remark}
			)
	</insert>
  
  	<!-- 删除 -->
  	<delete id="deleteAfterSalesPolicy" parameterType="String">
  		delete from s_after_sales_policy
  		where id = #{id}
  	</delete>
	
</mapper>