<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<!-- 店铺表(s_shopinfo)Mapper -->
<mapper namespace="shopinfoMapper">
    <!--mybatis ehcache缓存配置 -->
    <!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 不使用缓存加入useCache="false" -->
    <!-- <cache type="org.mybatis.caches.ehcache.LoggingEhcache" /> -->
    <!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>  -->

	<sql id="Base_Column_List">
    	s_merchants_id,uid ,account ,password ,grade ,name ,fax ,email ,postcode ,qq ,rtime ,sstate ,rstate ,endtime ,state ,lasttime ,updatename ,remark ,fstate 
    </sql>

    <resultMap type="com.shifeng.entity.shop.Shopinfo" id="ShopinfoReturnMap">
	  <!-- 入驻id -->
      <id column="s_merchants_id" property="s_merchants_id"/>
	  <!-- 用户id -->
      <result column="uid" property="uid"/>
	  <!-- 登录帐号 -->
      <result column="account" property="account"/>
	  <!-- 登录密码 -->
      <result column="password" property="password"/>
	  <!-- 店铺类型 -->
      <result column="grade" property="grade"/>
	  <!-- 店铺名称 -->
      <result column="name" property="name"/>
	  <!-- 客服电话 -->
      <result column="fax" property="fax"/>
	  <!-- 邮箱 -->
      <result column="email" property="email"/>
	  <!-- 邮编 -->
      <result column="postcode" property="postcode"/>
	  <!-- 在线客服 -->
      <result column="qq" property="qq"/>
	  <!-- 注册日期 -->
      <result column="rtime" property="rtime"/>
	  <!-- 状态 -->
      <result column="sstate" property="sstate"/>
	  <!-- 推荐状态 -->
      <result column="rstate" property="rstate"/>
	  <!-- 结束时间 -->
      <result column="endtime" property="endtime"/>
	  <!-- 销售状态 -->
      <result column="state" property="state"/>
	  <!-- 最后修改时间 -->
      <result column="lasttime" property="lasttime"/>
	  <!-- 最后修改人 -->
      <result column="updatename" property="updatename"/>
	  <!-- 备注 -->
      <result column="remark" property="remark"/>
	  <!-- 复审状态 -->
      <result column="fstate" property="fstate"/>
   </resultMap>
   
   <!-- 查询所有表 -->
	<select id="findAllShopinfoByState"   resultMap="ShopinfoReturnMap">
		select
		<include refid="Base_Column_List"></include>
		from
		s_shopinfo
		where  sstate = 1
		order by lasttime desc
	</select>
   
   	<!-- 查询所有表 -->
	<select id="findAllShopinfoPage" parameterType="Page" resultType="com.shifeng.op.dto.shop.ShopDTO">
		select
		m.name as msName,
		s.name as name,
		s.s_merchants_id,
		s.grade,
		m.type,
		m.cooperation,
		s.rtime,
		s.lasttime,
		s.updatename,
		s.endtime,
		m.head_name,
		m.head_phone,
		m.head_email,
		s.fstate,
		s.sstate,
		sp.status pay_status
		from
		s_merchants_settled m,
		s_shopinfo s
		LEFT JOIN s_shopinfo_pay sp ON sp.s_merchants_id = s.s_merchants_id
		where m.id=s.s_merchants_id and m.state=1
		<if test="t.msName!=null and t.msName!=''">
			and m.name like CONCAT("%",#{t.msName},"%")
		</if>
		<if test="t.name!=null and t.name!=''">
			and s.name like CONCAT("%",#{t.name},"%")
		</if>
		<if test="t.grade!=null and t.grade!=''">
			and s.grade =#{t.grade}
		</if>
		<if test="t.sstate!=null and t.sstate!=''">
			and s.sstate =#{t.sstate}
		</if>
		<if test="t.type!=null and t.type!=''">
			and m.type = #{t.type}
		</if>
		<if test="t.cooperation!=null and t.cooperation!=''">
			and m.cooperation = #{t.cooperation}
		</if>
		GROUP BY s.s_merchants_id
		ORDER  by  s.s_merchants_id desc
	</select>
	<!-- 查询所有表 -->
	<select id="findAllShopinfoByStatePage" parameterType="Page" resultType="com.shifeng.op.dto.shop.ShopDTO">
		select
		 m.name as msName,
		 s.name as name,
		 s.s_merchants_id,
		s.grade,
		m.type,
		m.cooperation,
		s.rtime,
		s.lasttime,
		s.updatename,
		s.remark,
		m.head_name,
		m.head_phone,
		m.head_email,
		s.fstate
		from
		s_merchants_settled m,
		s_shopinfo s
		where m.id=s.s_merchants_id and m.state=1
		<if test="t.msName!=null and t.msName!=''">
			and m.name like CONCAT("%",#{t.msName},"%")
		</if>
		<if test="t.name!=null and t.name!=''">
			and s.name like CONCAT("%",#{t.name},"%")
		</if>
		<if test="t.grade!=null and t.grade!=''">
			and s.grade =#{t.grade}
		</if>
		<if test="t.type!=null and t.type!=''">
			and m.type = #{t.type}
		</if>
		<if test="t.cooperation!=null and t.cooperation!=''">
			and m.cooperation = #{t.cooperation}
		</if>

		ORDER  by  s.s_merchants_id desc
	</select>
	<!-- 根据ID查询表 -->
	<select id="findShopinfoById" parameterType="String" resultMap="ShopinfoReturnMap">
		select
			<include refid="Base_Column_List"></include>
		from 
			s_shopinfo
		where 
			s_merchants_id = #{s_merchants_id}
	</select>
	<!-- 修改表 -->
	<update id="updateShopinfoState" parameterType="map">
		update
		s_shopinfo
		set	fstate = #{fstate},
			lasttime = now(),
	      	updatename = #{updatename}
		where
		s_merchants_id = #{s_merchants_id}
	</update>
	<!-- 修改表 -->
	<update id="updateShopinfo" parameterType="com.shifeng.entity.shop.Shopinfo">
		update 
			s_shopinfo 
		set
	      	grade = #{grade},
	      	name = #{name},
	      	fax = #{fax},
	      	email = #{email},
	      	postcode = #{postcode},
	      	qq = #{qq},
	      	rtime = #{rtime},
	      	sstate = #{sstate},
	      	endtime = #{endtime},
	      	lasttime = now(),
	      	updatename = #{updatename},
	      	remark = #{remark}
		 where
			s_merchants_id = #{s_merchants_id}
	</update>

	<!-- 新增表 -->
	<insert id="saveShopinfo" parameterType="com.shifeng.entity.shop.Shopinfo">
		insert into s_shopinfo
			(
		      s_merchants_id, uid, account, password, grade, name, fax, email, postcode, qq, rtime, sstate, rstate, endtime, state, lasttime, updatename, remark, fstate 
			)
		values
			(
			  #{s_merchants_id},
		      #{uid},
		      #{account},
		      #{password},
		      #{grade},
		      #{name},
		      #{fax},
		      #{email},
		      #{postcode},
		      #{qq},
		      #{rtime},
		      #{sstate},
		      #{rstate},
		      #{endtime},
		      #{state},
		      #{lasttime},
		      #{updatename},
		      #{remark},
		      #{fstate}
			)
	</insert>
  
  	<!-- 删除 -->
  	<delete id="deleteShopinfo" parameterType="String">
  		delete from s_shopinfo
  		where id = #{s_merchants_id}
  	</delete>
	
	<!-- 优惠券使用范围(指定参加/不参加店铺) -->
	<select id="findShopForCouponsPage" parameterType="Page" resultMap="ShopinfoReturnMap">
	    select
		<include refid="Base_Column_List"></include>
		from
		s_shopinfo
		where  sstate = 1
		<if test="t.shopId!=null and t.shopId!=''">
		    and s_merchants_id = #{t.shopId!=}
		</if>
		<if test="t.shopName!=null and t.shopName!=''">
		    and name like CONCAT(CONCAT('%', #{t.shopName!=}),'%')
		</if>
		
		order by lasttime desc
	</select>


	<!-- 添加用户 -->
	<insert id="insertSellerUser" parameterType="com.shifeng.entity.user.SysUser"   >
		INSERT INTO
		seller_users
		(u_id,uName,shopid, uCreateTime,uLastUpdateTime)
		VALUES
		(
		#{id },#{account },#{integral },NOW(),NOW()
		)
	</insert>
</mapper>