<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<!-- 店铺负责人员(s_store_supervisor)Mapper -->
<mapper namespace="storesupervisorMapper">
    <!--mybatis ehcache缓存配置 -->
    <!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 不使用缓存加入useCache="false" -->
    <!-- <cache type="org.mybatis.caches.ehcache.LoggingEhcache" /> -->
    <!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>  -->

	<sql id="Base_Column_List">
    	s_merchants_id,name ,phone ,landline ,email ,qq ,type 
    </sql>

    <resultMap type="com.shifeng.entity.shop.StoreSupervisor" id="StoreSupervisorReturnMap">
	  <!-- 入驻id -->
      <id column="s_merchants_id" property="s_merchants_id"/>
	  <!-- 负责人姓名 -->
      <result column="name" property="name"/>
	  <!-- 负责人手机号 -->
      <result column="phone" property="phone"/>
	  <!-- 负责人座 机 -->
      <result column="landline" property="landline"/>
	  <!-- 负责人电子邮箱 -->
      <result column="email" property="email"/>
	  <!-- 负责人QQ号码 -->
      <result column="qq" property="qq"/>
	  <!-- 类型 -->
      <result column="type" property="type"/>
   </resultMap>
   
   	<!-- 查询所有表 -->
	<select id="findAllStoreSupervisorPage" parameterType="Page" resultMap="StoreSupervisorReturnMap">
		select
			<include refid="Base_Column_List"></include>
		from 
			s_store_supervisor
		where 1=1 and s_merchants_id = #{t.s_merchants_id} order by type asc

	</select>

	<!-- 根据ID查询表 -->
	<select id="findStoreSupervisorById" parameterType="String" resultMap="StoreSupervisorReturnMap">
		select
			<include refid="Base_Column_List"></include>
		from 
			s_store_supervisor
		where 
			s_merchants_id = #{s_merchants_id}
	</select>

	<!-- 修改表 -->
	<update id="updateStoreSupervisor" parameterType="com.shifeng.entity.shop.StoreSupervisor">
		update 
			s_store_supervisor 
		set
	      	name = #{name},
	      	phone = #{phone},
	      	landline = #{landline},
	      	email = #{email},
	      	qq = #{qq},
	      	type = #{type}
		 where
			id = #{s_merchants_id}
	</update>

	<!-- 新增表 -->
	<insert id="saveStoreSupervisor" parameterType="com.shifeng.entity.shop.StoreSupervisor">
		insert into s_store_supervisor
			(
		      name, phone, landline, email, qq, type 
			)
		values
			(
		      #{name},
		      #{phone},
		      #{landline},
		      #{email},
		      #{qq},
		      #{type}
			)
	</insert>
  
  	<!-- 删除 -->
  	<delete id="deleteStoreSupervisor" parameterType="String">
  		delete from s_store_supervisor
  		where id = #{s_merchants_id}
  	</delete>
	
</mapper>