<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc.xsd   
    http://www.springframework.org/schema/aop 
     http://www.springframework.org/schema/aop/spring-aop.xsd">
	


	<!-- 防止@ResponseBody中文乱码  处理JSON数据转换的 --> 
	<!-- 启用MVC注解 --> 
	<mvc:annotation-driven  content-negotiation-manager="contentNegotiationManager" >   
		<mvc:message-converters>   
			<!--   为了处理返回的JSON数据的编码，默认是ISO-88859-1的，这里把它设置为UTF-8,解决有乱码的情况   -->
				<bean id="mappingJackson2HttpMessageConverter"
					class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
					<!-- 处理responseBody 里面日期类型 -->  
					<property name="objectMapper">  
	                    <bean class="com.fasterxml.jackson.databind.ObjectMapper">  
	                        <property name="dateFormat">  
	                            <bean class="java.text.SimpleDateFormat">  
	                                <constructor-arg type="java.lang.String" value="yyyy-MM-dd HH:mm:ss" />  
	                            </bean>  
	                        </property>  
	                    </bean>  
	                </property>
				</bean>
		    <!--    <bean class="org.springframework.http.converter.StringHttpMessageConverter">   
		          为了处理返回的JSON数据的编码，默认是ISO-88859-1的，这里把它设置为UTF-8,解决有乱码的情况  
		           <property name="supportedMediaTypes">   
		               <list>   
		                   <value>text/plain;charset=UTF-8</value>   
		                   <value>text/html;charset=UTF-8</value>   
						   <value>text/json;charset=UTF-8</value>
						   <value>application/json;charset=UTF-8</value>
		               </list>   
		           </property>   
		       </bean> -->
		 </mvc:message-converters>   
	 </mvc:annotation-driven> 

		<bean id="contentNegotiationManager" class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">   
		    <property name="favorPathExtension" value="false" />  
		    <property name="favorParameter" value="false" />   
		    <property name="ignoreAcceptHeader" value="false" />   
		    <property name="mediaTypes" >   
		        <value>  
		            atom=application/atom+xml  
		            html=text/html  
		            json=application/json  
		            *=*/*  
		        </value>   
		    </property>  
		 </bean> 

	  <mvc:default-servlet-handler/>


	<!-- 对静态资源文件的访问  restful
	<mvc:resources mapping="/static/**" location="/,/static/" />
	<mvc:resources mapping="/static/css/**" location="/,/css/" />
	<mvc:resources mapping="/static/img/**" location="/,/img/" />
	<mvc:resources mapping="/static/js/**" location="/,/js/" />

-->
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping">
		<property name="interceptors">
			<list>
				<bean class="com.shifeng.mall.util.FormTokenInterceptor"/>
			</list>
		</property>
	</bean>
	<!--  <mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<bean class="com.shifeng.interceptor.LoginInterceptor"/>
		</mvc:interceptor>
	 </mvc:interceptors> -->

	<context:component-scan base-package="com.shifeng.mall.*.controller" >
		<!-- 这里只扫描Controller，不可重复加载Service -->
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
    <context:component-scan base-package="com.shifeng.*.controller" >
		<!-- 这里只扫描Controller，不可重复加载Service -->
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

     
    <!-- 默认访问跳转到首页面(即定义无需Controller的url<->view直接映射) -->  
    <mvc:view-controller path="/" view-name="forward:/index"/>
    
	<!-- 配置SpringMVC的视图解析器
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/view/"/>
		<property name="suffix" value=".jsp"/>
	</bean>-->

	<!-- 配置JSP的视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="order" value="2" /><!-- order'越低'优先级越高 -->
		<property name="prefix" value="/view/"/>
		<property name="suffix" value=".jsp"/>
	</bean>

	<bean id="beetlConfig" class="org.beetl.ext.spring.BeetlGroupUtilConfiguration" init-method="init"/>
	<bean id="viewResolver" class="org.beetl.ext.spring.BeetlSpringViewResolver">
		<property name="order" value="1" /><!-- order'越低'优先级越高 -->
		<property name="contentType" value="text/html;charset=UTF-8"/>

	</bean>
	
	<!-- 配置文件上传，如果没有使用文件上传可以不用配置，当然如果不配，那么配置文件中也不必引入上传组件包 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 默认编码 -->
		<property name="defaultEncoding" value="utf-8" />
		<!-- 文件大小最大值 -->
		<property name="maxUploadSize" value="10485760000" />
		<!-- 内存中的最大值 -->
		<property name="maxInMemorySize" value="40960" />
	</bean>
	
	
	<import resource="spring-mvc-shiro.xml"/>

</beans>