<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<!-- 分类表(c_category)Mapper -->
<mapper namespace="categoryMapper">
    <!--mybatis ehcache缓存配置 -->
    <!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 不使用缓存加入useCache="false" -->
    <!-- <cache type="org.mybatis.caches.ehcache.LoggingEhcache" /> -->
    <!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>  -->

	<sql id="Base_Column_List">
    id,parentid ,parentname ,descript ,url ,state ,image ,lasttime ,updatename 
    </sql>

    <resultMap type="com.shifeng.entity.category.Category" id="CategoryReturnMap">
		<!-- 主键 -->
      <id column="id" property="id"/>
		<!-- 父级编号 -->
      <result column="parentid" property="parentid"/>
      <!-- 父级名称 -->
      <result column="parentname" property="parentname"/>
		<!-- 名称 -->
      <result column="descript" property="descript"/>
		<!-- url链接路径 -->
      <result column="url" property="url"/>
		<!-- 状态 -->
      <result column="state" property="state"/>
		<!-- 图片 -->
      <result column="image" property="image"/>
		<!-- 最后修改时间 -->
      <result column="lasttime" property="lasttime"/>
		<!-- 最后修改人 -->
      <result column="updatename" property="updatename"/>
   </resultMap>


    <!-- 查询所有分类 -->
    <select id="findAllCategoryPage" parameterType="Page" resultMap="CategoryReturnMap">
        select
			<include refid="Base_Column_List"></include>
		from c_category
		where state = 1
		order by lasttime desc
    </select>
    
   	<!-- 查询所有父分类 -->
	<select id="findAllParentCategory" resultMap="CategoryReturnMap">
		select
			<include refid="Base_Column_List"></include>
		from c_category
		where parentid = 0 and state = 1
	</select>

	<!-- 根据父ID查询 -->
	<select id="findCategoryByPid" parameterType="String" resultMap="CategoryReturnMap">
		select
			<include refid="Base_Column_List"></include>
		from c_category
		where parentid = #{id} and state = 1
	</select>
	
	<!-- 根据ID查询表 -->
	<select id="findCategoryById" parameterType="String" resultMap="CategoryReturnMap">
		select
			<include refid="Base_Column_List"></include>
		from c_category
		where id = #{id}
	</select>

	<!-- 修改表 -->
	<update id="updateCategory" parameterType="com.shifeng.entity.category.Category">
		update c_category set
		      	descript = #{descript},
		      	url = #{url},
		      	image = #{image},
		      	lasttime = now(),
		      	updatename = #{updatename}
		where
		id = #{id}
	</update>

	<!-- 新增表 -->
	<insert id="saveCategory" parameterType="com.shifeng.entity.category.Category">
		insert into c_category
		(
	     	parentid ,parentname ,descript ,url ,state ,image ,lasttime ,updatename 
		)
		values
		(
	      	#{parentid},
	      	#{parentname},
	      	#{descript},
	      	#{url},
	      	1,
	      	#{image},
	      	now(),
	      	#{updatename}
		)
	</insert>
  
	<!-- 删除分类 -->
	<update id="deleteCategory" parameterType="java.util.Map">
	    update c_category set
	    	state = 2,
	    	lasttime = now(),
	    	updatename = #{uname}
	    where id = #{id} or parentid = #{id}
	</update>
	
	 <resultMap type="com.shifeng.op.dto.category.CategoryDTO" id="CategoryDTOReturnMap">
        <id property="id" column="id"/>
        <collection property="nodes" ofType="CategoryDTOReturnMap" column="id" select="categoryMapper.findCategoryByPidForNavigation"></collection>
    </resultMap>
    
    <select id="findAllCategoryForNavigation" resultMap="CategoryDTOReturnMap">
        select
        	id ,parentid pId, descript name
        from c_category
        where state = 1 and parentid = 0
    </select>
	
	<select id="findCategoryByPidForNavigation" parameterType="String" resultMap="CategoryDTOReturnMap">
		select
			id ,parentid pId, descript name
		from c_category
		where parentid = #{id} and state = 1
	</select>
    
</mapper>