<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<!-- 商品图片表(p_images)Mapper -->
<mapper namespace="imagesMapper">
    <!--mybatis ehcache缓存配置 -->
    <!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 不使用缓存加入useCache="false" -->
    <!-- <cache type="org.mybatis.caches.ehcache.LoggingEhcache" /> -->
    <!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>  -->

	<sql id="Base_Column_List">
    	id,pid ,ipath ,sort ,lasttime ,updatename ,remark 
    </sql>

    <resultMap type="com.shifeng.entity.product.Images" id="ImagesReturnMap">
	  <!-- 主键 -->
      <id column="id" property="id"/>
	  <!-- 商品编号 -->
      <result column="pid" property="pid"/>
	  <!-- 图片路径 -->
      <result column="ipath" property="ipath"/>
	  <!-- 图片顺序 -->
      <result column="sort" property="sort"/>
	  <!-- 最后修改时间 -->
      <result column="lasttime" property="lasttime"/>
	  <!-- 最后修改人 -->
      <result column="updatename" property="updatename"/>
	  <!-- 备注 -->
      <result column="remark" property="remark"/>
   </resultMap>
   
   	<!-- 查询所有表 -->
	<select id="findAllImagesPage" parameterType="Page" resultMap="ImagesReturnMap">
		select
			<include refid="Base_Column_List"></include>
		from 
			p_images
		where 1=1
			<if test="t.pid!=null and t.pid!=''">
				and pid = #{t.pid}
			</if>
			<if test="t.ipath!=null and t.ipath!=''">
				and ipath = #{t.ipath}
			</if>
			<if test="t.sort!=null and t.sort!=''">
				and sort = #{t.sort}
			</if>
			<if test="t.lasttime!=null and t.lasttime!=''">
				and lasttime = #{t.lasttime}
			</if>
			<if test="t.updatename!=null and t.updatename!=''">
				and updatename = #{t.updatename}
			</if>
			<if test="t.remark!=null and t.remark!=''">
				and remark = #{t.remark}
			</if>
	</select>

	<!-- 根据ID查询表 -->
	<select id="findImagesById" parameterType="String" resultMap="ImagesReturnMap">
		select
			<include refid="Base_Column_List"></include>
		from 
			p_images
		where 
			id = #{id}
	</select>

	<!-- 修改表 -->
	<update id="updateImages" parameterType="com.shifeng.entity.product.Images">
		update 
			p_images 
		set
	      	pid = #{pid},
	      	ipath = #{ipath},
	      	sort = #{sort},
	      	lasttime = #{lasttime},
	      	updatename = #{updatename},
	      	remark = #{remark}
		 where
			id = #{id}
	</update>

	<!-- 新增表 -->
	<insert id="saveImages" parameterType="com.shifeng.entity.product.Images">
		insert into p_images
			(
		      pid, ipath, sort, lasttime, updatename, remark 
			)
		values
			(
		      #{pid},
		      #{ipath},
		      #{sort},
		      #{lasttime},
		      #{updatename},
		      #{remark}
			)
	</insert>
  
  	<!-- 删除 -->
  	<delete id="deleteImages" parameterType="String">
  		delete from p_images
  		where id = #{id}
  	</delete>
	
</mapper>