<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<!--  -->
<mapper namespace="productMapper">
    
    <update id="updateMainPic" parameterType="java.util.Map">
    
      UPDATE 
      		p_sku_images si,p_color c 
      		SET ipath = #{imgPath}
 		 WHERE 
 		 	si.colorid = c.id 
 		 AND 
 		 	si.pid = #{pid} 
 		 AND 
 		 	c.name = #{colorName}
 		 AND 
 		 	si.ismain = 1
    
    
    </update>
  
	
</mapper>