<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<!-- 支付宝支付流水信息(alipay_payment_record)Mapper -->
<mapper namespace="alipayPaymentRecordMapper">
    <!--mybatis ehcache缓存配置 -->
    <!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 不使用缓存加入useCache="false" -->
    <!-- <cache type="org.mybatis.caches.ehcache.LoggingEhcache" /> -->
    <!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>  -->

	<sql id="Base_Column_List">
    serial_number,out_trade_no ,subject ,trade_no ,seller_email ,buyer_email ,seller_id ,buyer_id ,is_success ,trade_status ,gmt_create ,gmt_payment ,gmt_close ,refund_status ,gmt_refund ,price ,total_fee ,quantity ,body ,business_scene ,extra_common_param 
    </sql>

    <resultMap type="com.shifeng.pay.entity.pay.AlipayPaymentRecord" id="AlipayPaymentRecordReturnMap">
		<!-- 流水号 -->
      <id column="serial_number" property="serial_number"/>
		<!-- 支付交易订单号（网站） -->
      <result column="out_trade_no" property="out_trade_no"/>
		<!-- 商品名称 -->
      <result column="subject" property="subject"/>
		<!-- 支付宝交易号 -->
      <result column="trade_no" property="trade_no"/>
		<!-- 卖家支付宝账号，可以是Email或手机号码。 -->
      <result column="seller_email" property="seller_email"/>
		<!-- 买家支付宝账号，可以是Email或手机号码。 -->
      <result column="buyer_email" property="buyer_email"/>
		<!-- 卖家支付宝账号对应的支付宝唯一用户号。以2088开头的纯16位数字. -->
      <result column="seller_id" property="seller_id"/>
		<!-- 买家支付宝账号对应的支付宝唯一用户号。以2088开头的纯16位数字。 -->
      <result column="buyer_id" property="buyer_id"/>
		<!-- 支付结果（0：成功；1：失败） -->
      <result column="is_success" property="is_success"/>
		<!-- 交易状态 -->
      <result column="trade_status" property="trade_status"/>
		<!-- 交易创建时间 -->
      <result column="gmt_create" property="gmt_create"/>
		<!-- 交易付款时间 -->
      <result column="gmt_payment" property="gmt_payment"/>
		<!-- 交易关闭时间 -->
      <result column="gmt_close" property="gmt_close"/>
		<!-- 退款状态 -->
      <result column="refund_status" property="refund_status"/>
		<!-- 退款时间 -->
      <result column="gmt_refund" property="gmt_refund"/>
		<!-- 商品单价 -->
      <result column="price" property="price"/>
		<!-- 交易金额 -->
      <result column="total_fee" property="total_fee"/>
		<!-- 购买数量 -->
      <result column="quantity" property="quantity"/>
		<!-- 商品描述 -->
      <result column="body" property="body"/>
		<!-- 是否扫码支付 -->
      <result column="business_scene" property="business_scene"/>
		<!-- 公用回传参数 -->
      <result column="extra_common_param" property="extra_common_param"/>
   </resultMap>
   
   
   	<!-- 新增 -->
	<insert id="savePaymentRecord"  parameterType="com.shifeng.pay.entity.pay.AlipayPaymentRecord">
		insert into pay_alipay_payment_record
			(
		      serial_number,out_trade_no,subject,trade_no,seller_email,buyer_email,seller_id,buyer_id,is_success,trade_status,gmt_create,gmt_payment,gmt_close,refund_status,gmt_refund,price,total_fee,quantity,body,business_scene,extra_common_param
			)
		values
			(
		      #{serial_number},
		      #{out_trade_no},
		      #{subject},
		      #{trade_no},
		      #{seller_email},
		      #{buyer_email},
		      #{seller_id},
		      #{buyer_id},
		      #{is_success},
		      #{trade_status},
		      #{gmt_create},
		      #{gmt_payment},
		      #{gmt_close},
		      #{refund_status},
		      #{gmt_refund},
		      #{price},
		      #{total_fee},
		      #{quantity},
		      #{body},
		      #{business_scene},
		      #{extra_common_param}
			)
	</insert>
   
  
	
   
  
	
</mapper>