.tab{
	border-bottom: 2px solid #5cb85c;
	overflow: hidden;
	padding-left: 9px;
}

.tabspan_active{
	color: #fff;
	display: inline-block;
	margin-left: 6px;
	line-height: 29px;
	padding: 0 15px;
	border: 1px solid #5cb85c;
	background: #5cb85c;
}

.tabspan{
	display: inline-block;
	margin-left: 6px;
	line-height: 29px;
	padding: 0 15px;
	border: 1px solid #e0e0e0;
	background: #f5f5f5;
}

/*添加按钮*/
.add{
	width: 52px;
	height: 22px;
	line-height: 20px;
	border: 1px solid #CCCCCC;
	position: relative;			
	display: inline-block;
	top: 10px;
	left: 10px;
}
.add .add_btn{
	width: 50px;
	height: 20px;
	line-height: 20px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	background-color: #fff;
	text-align: center;
	cursor: pointer;
}
.add_msg{
	width: 100px;
	height: 62px;
	position: absolute;
	top: 18px;
	left: -1px;
	z-index: 9;
	border: 1px solid #CCCCCC;
	background-color: #fff;
}
.add_msg input{
	width: 70px;
	margin-left: 14px;
	margin-top: 10px;				
}
.am_btn{
	height: 25px;
	width: 100%;
}
.am_btn span{
	display: inline-block;
	height: 100%;
	line-height: 25px;
	text-align: center;
	width: 47%;
	font-size: 12px;
}
.am_btn span:active{
	color: #CCCCCC;
}

