<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<!-- app引导页(sys_appleadpic)Mapper -->
<mapper namespace="sysappleadpicMapper">
    <!--mybatis ehcache缓存配置 -->
    <!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 不使用缓存加入useCache="false" -->
    <!-- <cache type="org.mybatis.caches.ehcache.LoggingEhcache" /> -->
    <!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>  -->

	<sql id="Base_Column_List">
    	id,imgUrl ,sort ,state ,lasttime ,updatename ,remark 
    </sql>

    <resultMap type="com.shifeng.entity.system.SysAppleadpic" id="SysAppleadpicReturnMap">
	  <!-- id -->
      <id column="id" property="id"/>
	  <!-- 图片路径 -->
      <result column="imgUrl" property="imgUrl"/>
	  <!-- 序号 -->
      <result column="sort" property="sort"/>
	  <!-- 状态 -->
      <result column="state" property="state"/>
	  <!-- 最后修改时间 -->
      <result column="lasttime" property="lasttime"/>
	  <!-- 最后修改人 -->
      <result column="updatename" property="updatename"/>
	  <!-- 备注 -->
      <result column="remark" property="remark"/>
   </resultMap>
   
   	<!-- 查询所有表 -->
	<select id="findAllSysAppleadpicPage" parameterType="Page" resultMap="SysAppleadpicReturnMap">
		select
			<include refid="Base_Column_List"></include>
		from 
			sys_appleadpic
		where 1=1
			<if test="t.imgUrl!=null and t.imgUrl!=''">
				and imgUrl = #{t.imgUrl}
			</if>
			<if test="t.sort!=null and t.sort!=''">
				and sort = #{t.sort}
			</if>
			<if test="t.state!=null and t.state!=''">
				and state = #{t.state}
			</if>
			<if test="t.lasttime!=null and t.lasttime!=''">
				and lasttime = #{t.lasttime}
			</if>
			<if test="t.updatename!=null and t.updatename!=''">
				and updatename = #{t.updatename}
			</if>
			<if test="t.remark!=null and t.remark!=''">
				and remark = #{t.remark}
			</if>
	</select>

	<!-- 根据ID查询表 -->
	<select id="findSysAppleadpicById" parameterType="String" resultMap="SysAppleadpicReturnMap">
		select
			<include refid="Base_Column_List"></include>
		from 
			sys_appleadpic
		where 
			id = #{id}
	</select>

	<!-- 修改表 -->
	<update id="updateSysAppleadpic" parameterType="com.shifeng.entity.system.SysAppleadpic">
		update 
			sys_appleadpic 
		set
	      	imgUrl = #{imgUrl},
	      	sort = #{sort},
	      	state = #{state},
	      	lasttime = now(),
	      	updatename = #{updatename},
	      	remark = #{remark}
		 where
			id = #{id}
	</update>

	<!-- 新增表 -->
	<insert id="saveSysAppleadpic" parameterType="com.shifeng.entity.system.SysAppleadpic">
		insert into sys_appleadpic
			(
		      imgUrl, sort, state, lasttime, updatename, remark 
			)
		values
			(
		      #{imgUrl},
		      #{sort},
		      #{state},
		     now(),
		      #{updatename},
		      #{remark}
			)
	</insert>
  
  	<!-- 删除 -->
  	<delete id="deleteSysAppleadpic" parameterType="String">
  		delete from sys_appleadpic
  		where id = #{id}
  	</delete>
	
</mapper>