<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans.xsd  
    http://code.alibabatech.com/schema/dubbo  
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    
	<!-- 消费方应用名，用于计算依赖关系，不是匹配条件，不要与提供方一样 -->
	<dubbo:application name="sfmall-web-consumer"  owner="WinZhong" organization="shifeng"/>
	<!-- 使用multicast广播注册中心暴露发现服务地址 -->
	<dubbo:registry protocol="zookeeper" address="${zk.address}" />
	<!-- 生成远程服务代理，可以和本地bean一样使用Service 本地调试添加属性：url="dubbo://localhost:端口号" -->
	<dubbo:reference id="sysUserService" interface="com.shifeng.provide.sysuser.service.SysUserService"  />
	
	<!-- 阿里服务-->
	<dubbo:reference id="aliService" interface="com.shifeng.provide.ali.service.AliService"  />
	
	<!-- 微信登录服务-->
	<dubbo:reference id="weiXinService" interface="com.shifeng.provide.weixin.service.WeiXinService"  /> 
	

</beans>
