<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<!-- app引导页(sys_appleadpic)Mapper -->
<mapper namespace="sysappleadpicMapper">
    <!--mybatis ehcache缓存配置 -->
    <!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 不使用缓存加入useCache="false" -->
    <!-- <cache type="org.mybatis.caches.ehcache.LoggingEhcache" /> -->
    <!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>  -->

	<sql id="Base_Column_List">
    	id,imgUrl ,sort ,state ,lasttime ,updatename ,remark 
    </sql>

    <resultMap type="com.shifeng.entity.system.SysAppleadpic" id="SysAppleadpicReturnMap">
	  <!-- id -->
      <id column="id" property="id"/>
	  <!-- 图片路径 -->
      <result column="imgUrl" property="imgUrl"/>
	  <!-- 序号 -->
      <result column="sort" property="sort"/>
	  <!-- 状态 -->
      <result column="state" property="state"/>
	  <!-- 最后修改时间 -->
      <result column="lasttime" property="lasttime"/>
	  <!-- 最后修改人 -->
      <result column="updatename" property="updatename"/>
	  <!-- 备注 -->
      <result column="remark" property="remark"/>
   </resultMap>
   
   	<!-- 查询所有表 -->
	<select id="getAdsList" resultType="com.shifeng.entity.system.SysAppleadpic">
		select
			<include refid="Base_Column_List"></include>
		from 
			sys_appleadpic
		where 1=1
			 
	</select>
 
	
</mapper>