<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<!-- 订单父表(o_porderInfo)Mapper -->
<mapper namespace="porderInfoMapper">
    <!--mybatis ehcache缓存配置 -->
    <!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 不使用缓存加入useCache="false" -->
    <!-- <cache type="org.mybatis.caches.ehcache.LoggingEhcache" /> -->
    <!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>  -->

	<sql id="Base_Column_List">
    	perentId,subTime ,sellerId ,userId ,receiveName ,phoneNumber ,address ,zipCode ,giftPoints ,invoiceType ,invoiceNumber ,isSettlement ,settlementTime ,userConfirmTime ,orderStatus ,orderType ,remark ,lastModifiedTime ,defaultPayment ,sellerRemark ,ip ,pay_serial_number ,onlinepayfee ,order_total_price ,seller_discount ,order_seller_price ,totalMoney ,order_payment ,freight_price ,payment_confirm_time ,refundMoney ,paidMoney ,unPaidMoney 
    </sql>

    <resultMap type="com.shifeng.entity.order.PorderInfo" id="PorderInfoReturnMap">
	  <!-- 父订单编号 -->
      <id column="perentId" property="perentId"/>
	  <!-- 提交时间 -->
      <result column="subTime" property="subTime"/>
	  <!-- 卖家编号 -->
      <result column="sellerId" property="sellerId"/>
	  <!-- 用户编号 -->
      <result column="userId" property="userId"/>
	  <!-- 买家姓名 -->
      <result column="receiveName" property="receiveName"/>
	  <!-- 电话 -->
      <result column="phoneNumber" property="phoneNumber"/>
	  <!-- 地址 -->
      <result column="address" property="address"/>
	  <!-- 邮编 -->
      <result column="zipCode" property="zipCode"/>
	  <!-- 积分 -->
      <result column="giftPoints" property="giftPoints"/>
	  <!-- 发票抬头 -->
      <result column="invoiceType" property="invoiceType"/>
	  <!-- 发票编号 -->
      <result column="invoiceNumber" property="invoiceNumber"/>
	  <!-- 是否结算(1：是；2：否) -->
      <result column="isSettlement" property="isSettlement"/>
	  <!-- 结算时间 -->
      <result column="settlementTime" property="settlementTime"/>
	  <!-- 用户确认收货时间 -->
      <result column="userConfirmTime" property="userConfirmTime"/>
	  <!-- 订单状态 -->
      <result column="orderStatus" property="orderStatus"/>
	  <!-- 订单类型 -->
      <result column="orderType" property="orderType"/>
	  <!-- 备注 -->
      <result column="remark" property="remark"/>
	  <!-- 最后修改时间 -->
      <result column="lastModifiedTime" property="lastModifiedTime"/>
	  <!-- 默认支付方式 -->
      <result column="defaultPayment" property="defaultPayment"/>
	  <!-- 卖家备注 -->
      <result column="sellerRemark" property="sellerRemark"/>
	  <!-- Ip -->
      <result column="ip" property="ip"/>
	  <!-- 支付码 -->
      <result column="pay_serial_number" property="pay_serial_number"/>
	  <!-- 在线支付金额 -->
      <result column="onlinepayfee" property="onlinepayfee"/>
	  <!-- 订单总金额. -->
      <result column="order_total_price" property="order_total_price"/>
	  <!-- 商家优惠金额 -->
      <result column="seller_discount" property="seller_discount"/>
	  <!-- 订单货款金额（订单总金额-商家优惠金额） -->
      <result column="order_seller_price" property="order_seller_price"/>
	  <!-- 商品总金额 -->
      <result column="totalMoney" property="totalMoney"/>
	  <!-- 用户应付金额 -->
      <result column="order_payment" property="order_payment"/>
	  <!-- 商品的运费 -->
      <result column="freight_price" property="freight_price"/>
	  <!-- 付款确认时间 -->
      <result column="payment_confirm_time" property="payment_confirm_time"/>
	  <!-- 退款金额 -->
      <result column="refundMoney" property="refundMoney"/>
	  <!-- 支付金额 -->
      <result column="paidMoney" property="paidMoney"/>
	  <!-- 未支付金额 -->
      <result column="unPaidMoney" property="unPaidMoney"/>
   </resultMap>
   
   	<!-- 查询所有表 -->
	<select id="findAllPorderInfoPage" parameterType="Page" resultMap="PorderInfoReturnMap">
		select
			<include refid="Base_Column_List"></include>
		from 
			o_porderInfo
		where 1=1
			<if test="t.subTime!=null and t.subTime!=''">
				and subTime = #{t.subTime}
			</if>
			<if test="t.sellerId!=null and t.sellerId!=''">
				and sellerId = #{t.sellerId}
			</if>
			<if test="t.userId!=null and t.userId!=''">
				and userId = #{t.userId}
			</if>
			<if test="t.receiveName!=null and t.receiveName!=''">
				and receiveName = #{t.receiveName}
			</if>
			<if test="t.phoneNumber!=null and t.phoneNumber!=''">
				and phoneNumber = #{t.phoneNumber}
			</if>
			<if test="t.address!=null and t.address!=''">
				and address = #{t.address}
			</if>
			<if test="t.zipCode!=null and t.zipCode!=''">
				and zipCode = #{t.zipCode}
			</if>
			<if test="t.giftPoints!=null and t.giftPoints!=''">
				and giftPoints = #{t.giftPoints}
			</if>
			<if test="t.invoiceType!=null and t.invoiceType!=''">
				and invoiceType = #{t.invoiceType}
			</if>
			<if test="t.invoiceNumber!=null and t.invoiceNumber!=''">
				and invoiceNumber = #{t.invoiceNumber}
			</if>
			<if test="t.isSettlement!=null and t.isSettlement!=''">
				and isSettlement = #{t.isSettlement}
			</if>
			<if test="t.settlementTime!=null and t.settlementTime!=''">
				and settlementTime = #{t.settlementTime}
			</if>
			<if test="t.userConfirmTime!=null and t.userConfirmTime!=''">
				and userConfirmTime = #{t.userConfirmTime}
			</if>
			<if test="t.orderStatus!=null and t.orderStatus!=''">
				and orderStatus = #{t.orderStatus}
			</if>
			<if test="t.orderType!=null and t.orderType!=''">
				and orderType = #{t.orderType}
			</if>
			<if test="t.remark!=null and t.remark!=''">
				and remark = #{t.remark}
			</if>
			<if test="t.lastModifiedTime!=null and t.lastModifiedTime!=''">
				and lastModifiedTime = #{t.lastModifiedTime}
			</if>
			<if test="t.defaultPayment!=null and t.defaultPayment!=''">
				and defaultPayment = #{t.defaultPayment}
			</if>
			<if test="t.sellerRemark!=null and t.sellerRemark!=''">
				and sellerRemark = #{t.sellerRemark}
			</if>
			<if test="t.ip!=null and t.ip!=''">
				and ip = #{t.ip}
			</if>
			<if test="t.pay_serial_number!=null and t.pay_serial_number!=''">
				and pay_serial_number = #{t.pay_serial_number}
			</if>
			<if test="t.onlinepayfee!=null and t.onlinepayfee!=''">
				and onlinepayfee = #{t.onlinepayfee}
			</if>
			<if test="t.order_total_price!=null and t.order_total_price!=''">
				and order_total_price = #{t.order_total_price}
			</if>
			<if test="t.seller_discount!=null and t.seller_discount!=''">
				and seller_discount = #{t.seller_discount}
			</if>
			<if test="t.order_seller_price!=null and t.order_seller_price!=''">
				and order_seller_price = #{t.order_seller_price}
			</if>
			<if test="t.totalMoney!=null and t.totalMoney!=''">
				and totalMoney = #{t.totalMoney}
			</if>
			<if test="t.order_payment!=null and t.order_payment!=''">
				and order_payment = #{t.order_payment}
			</if>
			<if test="t.freight_price!=null and t.freight_price!=''">
				and freight_price = #{t.freight_price}
			</if>
			<if test="t.payment_confirm_time!=null and t.payment_confirm_time!=''">
				and payment_confirm_time = #{t.payment_confirm_time}
			</if>
			<if test="t.refundMoney!=null and t.refundMoney!=''">
				and refundMoney = #{t.refundMoney}
			</if>
			<if test="t.paidMoney!=null and t.paidMoney!=''">
				and paidMoney = #{t.paidMoney}
			</if>
			<if test="t.unPaidMoney!=null and t.unPaidMoney!=''">
				and unPaidMoney = #{t.unPaidMoney}
			</if>
	</select>

	<!-- 根据ID查询表 -->
	<select id="findPorderInfoById" parameterType="String" resultMap="PorderInfoReturnMap">
		select
			<include refid="Base_Column_List"></include>
		from 
			o_porderInfo
		where 
			perentId = #{perentId}
	</select>

	<!-- 修改表 -->
	<update id="updatePorderInfo" parameterType="com.shifeng.entity.order.PorderInfo">
		update 
			o_porderInfo 
		set
	      	subTime = #{subTime},
	      	sellerId = #{sellerId},
	      	userId = #{userId},
	      	receiveName = #{receiveName},
	      	phoneNumber = #{phoneNumber},
	      	address = #{address},
	      	zipCode = #{zipCode},
	      	giftPoints = #{giftPoints},
	      	invoiceType = #{invoiceType},
	      	invoiceNumber = #{invoiceNumber},
	      	isSettlement = #{isSettlement},
	      	settlementTime = #{settlementTime},
	      	userConfirmTime = #{userConfirmTime},
	      	orderStatus = #{orderStatus},
	      	orderType = #{orderType},
	      	remark = #{remark},
	      	lastModifiedTime = #{lastModifiedTime},
	      	defaultPayment = #{defaultPayment},
	      	sellerRemark = #{sellerRemark},
	      	ip = #{ip},
	      	pay_serial_number = #{pay_serial_number},
	      	onlinepayfee = #{onlinepayfee},
	      	order_total_price = #{order_total_price},
	      	seller_discount = #{seller_discount},
	      	order_seller_price = #{order_seller_price},
	      	totalMoney = #{totalMoney},
	      	order_payment = #{order_payment},
	      	freight_price = #{freight_price},
	      	payment_confirm_time = #{payment_confirm_time},
	      	refundMoney = #{refundMoney},
	      	paidMoney = #{paidMoney},
	      	unPaidMoney = #{unPaidMoney}
		 where
			id = #{perentId}
	</update>

	<!-- 新增表 -->
	<insert id="savePorderInfo" parameterType="com.shifeng.entity.order.PorderInfo">
		insert into o_porderInfo
			(
		      subTime, sellerId, userId, receiveName, phoneNumber, address, zipCode, giftPoints, invoiceType, invoiceNumber, isSettlement, settlementTime, userConfirmTime, orderStatus, orderType, remark, lastModifiedTime, defaultPayment, sellerRemark, ip, pay_serial_number, onlinepayfee, order_total_price, seller_discount, order_seller_price, totalMoney, order_payment, freight_price, payment_confirm_time, refundMoney, paidMoney, unPaidMoney 
			)
		values
			(
		      #{subTime},
		      #{sellerId},
		      #{userId},
		      #{receiveName},
		      #{phoneNumber},
		      #{address},
		      #{zipCode},
		      #{giftPoints},
		      #{invoiceType},
		      #{invoiceNumber},
		      #{isSettlement},
		      #{settlementTime},
		      #{userConfirmTime},
		      #{orderStatus},
		      #{orderType},
		      #{remark},
		      #{lastModifiedTime},
		      #{defaultPayment},
		      #{sellerRemark},
		      #{ip},
		      #{pay_serial_number},
		      #{onlinepayfee},
		      #{order_total_price},
		      #{seller_discount},
		      #{order_seller_price},
		      #{totalMoney},
		      #{order_payment},
		      #{freight_price},
		      #{payment_confirm_time},
		      #{refundMoney},
		      #{paidMoney},
		      #{unPaidMoney}
			)
	</insert>
  
  	<!-- 删除 -->
  	<delete id="deletePorderInfo" parameterType="String">
  		delete from o_porderInfo
  		where id = #{perentId}
  	</delete>
	
</mapper>