<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<!-- 快递配置(o_expressConfig)Mapper -->
<mapper namespace="expressConfigMapper">
    <!--mybatis ehcache缓存配置 -->
    <!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 不使用缓存加入useCache="false" -->
    <!-- <cache type="org.mybatis.caches.ehcache.LoggingEhcache" /> -->
    <!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>  -->

	<sql id="Base_Column_List">
    	id,name ,code ,phone ,state ,lasttime ,updatename 
    </sql>

    <resultMap type="com.shifeng.entity.freight.ExpressConfig" id="ExpressConfigReturnMap">
	  <!-- 编号 -->
      <id column="id" property="id"/>
	  <!-- 名称 -->
      <result column="name" property="name"/>
      <!-- code -->
      <result column="code" property="code"/>
      <!-- 客服电话 -->
      <result column="phone" property="phone"/>
	  <!-- 状态（1正常2冻结） -->
      <result column="state" property="state"/>
	  <!-- 最后修改时间 -->
      <result column="lasttime" property="lasttime"/>
	  <!-- 最后修改人 -->
      <result column="updatename" property="updatename"/>
   </resultMap>
   
   	<!-- 查询所有表 -->
	<select id="findAllExpressConfigPage" parameterType="Page" resultMap="ExpressConfigReturnMap">
		select
			<include refid="Base_Column_List"></include>
		from 
			o_expressConfig
		where 1=1
			<if test="t.name!=null and t.name!=''">
				and name = #{t.name}
			</if>
			<if test="t.state!=null and t.state!=''">
				and state = #{t.state}
			</if>
			<if test="t.lasttime!=null and t.lasttime!=''">
				and lasttime = #{t.lasttime}
			</if>
			<if test="t.updatename!=null and t.updatename!=''">
				and updatename = #{t.updatename}
			</if>
		order by lasttime desc
	</select>

	<!-- 根据ID查询表 -->
	<select id="findExpressConfigById" parameterType="String" resultMap="ExpressConfigReturnMap">
		select
			<include refid="Base_Column_List"></include>
		from 
			o_expressConfig
		where 
			id = #{id}
	</select>

	<!-- 修改表 -->
	<update id="updateExpressConfig" parameterType="com.shifeng.entity.freight.ExpressConfig">
		update 
			o_expressConfig 
		set
	      	name = #{name},
	      	code = #{code},
	      	phone = #{phone},
	      	state = #{state},
	      	lasttime = now(),
	      	updatename = #{updatename}
		 where
			id = #{id}
	</update>

	<!-- 新增表 -->
	<insert id="saveExpressConfig" parameterType="com.shifeng.entity.freight.ExpressConfig">
		insert into o_expressConfig
			(
		      name, code ,phone ,state, lasttime, updatename 
			)
		values
			(
		      #{name},
		      #{code},
		      #{phone},
		      #{state},
		      now(),
		      #{updatename}
			)
	</insert>
  
  	<!-- 删除 -->
  	<delete id="deleteExpressConfig" parameterType="String">
  		delete from o_expressConfig
  		where id = #{id}
  	</delete>
	
</mapper>